html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    overflow-x: hidden;
    background: #000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

article {
    font-family:  Helvetica;
}

#main {
    overflow-x: hidden;
}

/* ---------- Hamburger Menu ---------- */
.c-hamburger{
    position:fixed;
    margin:0;
    padding:0;
    width:60px;
    height:60px;
    top: 30px;
    left: 30px;
    display:block;
    overflow:hidden;
    font-size:0;
    text-indent:-9999px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    box-shadow:none;
    border-radius:40px;
    border:none;
    cursor:pointer;
    -webkit-transition:background .3s;
    transition:background .3s;
    z-index: 3;
}
.c-hamburger:focus{
    outline:0
}
.c-hamburger span{
    display:block;
    position:absolute;
    top:27px;
    left:12px;
    right:12px;
    height:5px;
    background:#fff;
}
.c-hamburger span::after,.c-hamburger span::before{
    position:absolute;
    display:block;
    left:0;
    width:100%;
    height: 5px;
    background-color:#fff;
    content:"";
}
.c-hamburger span::before{
    top:-10px;
}
.c-hamburger span::after{
    bottom:-10px;
}
.c-hamburger--htx{
    background: rgba(143,116,85,0.6);
}
.c-hamburger--htx:hover{
    background: rgba(89,46,46,0.6);
}
.c-hamburger--htx span{
    -webkit-transition:background 0s .3s;
    transition:background 0s .3s
}
.c-hamburger--htx span::after,.c-hamburger--htx span::before{
    -webkit-transition-duration:.3s,.3s;
    transition-duration:.3s,.3s;
    -webkit-transition-delay:.3s,0s;
    transition-delay:.3s,0s
}
.c-hamburger--htx span::before{
    -webkit-transition-property:top,-webkit-transform;
    transition-property:top,transform;
}
.c-hamburger--htx span::after{
    -webkit-transition-property:bottom,-webkit-transform;transition-property:bottom,transform
}
.c-hamburger--htx.is-active{
    background: rgba(89,46,46,0.6);
}
.c-hamburger--htx.is-active span{
    background:0 0;
}
.c-hamburger--htx.is-active span::before{
    top:0;-webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
}
.c-hamburger--htx.is-active span::after{
    bottom:0;
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.c-hamburger--htx.is-active span::after,.c-hamburger--htx.is-active span::before{
    -webkit-transition-delay:0s,.3s;
    transition-delay:0s,.3;
}

/* ---------- Navigation overlay ---------- */
.nav_overlay {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
    display: none;
}

.large-header {
    position: absolute;
    z-index: 1;
    display: none;
    background: url("../images/nav_bcg2.jpg") no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.demo-canvas {
    z-index: 1;
}

.overlay_nav {
    position: relative;
    margin: auto;
    margin-top: 15vh;
    color: #fff;
    text-align: center;
}

.overlay_nav a {
    text-decoration: none;
}

.overlay_nav li {
    width: 20vw;
    height: 50px;
    margin: auto;
    margin-top: 5vh;
    color: #fff;
    line-height: 50px;
    font-size: 2.2em;
    border-radius: 10px;
    background: rgba(143,116,85,0.6);
    transition: all 0.5s;
}

.overlay_nav li:hover {
    background: rgba(89,46,46,0.6);
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    border-top:solid 10px rgba(100, 0, 0, 0.6);
}

/* ---------- Carousel Background ----------- */
#nav-wrapper {
    z-index: 1;
    list-style: none;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}

#nav-wrapper a{
    text-decoration: none;
}

.nav-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.history_container {
    overflow-x: hidden;
}

#instrument_intro {
    height: 100vh;
    width: 100vw;
    background: #000;
}

#instrument_about {
    height: 100vh;
    width: 100vw;
    background: green;
}

.history_coming {
    text-align: center;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    color: #fff;
    font-size: 5em;
}

/* ---------- Carousel Background ----------- */
.carousel-inner {
    position:relative;
    width:100%;
    overflow:hidden;
    height: 100%;
}

.carousel-inner>.item {
    height: 100%;
    position:relative;
    display:none;
    -webkit-transition:.6s ease-in-out left;
    transition:.6s ease-in-out left;
}

.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
    display:block;
    height: 100%;
}

.carousel-inner>.active {
    left:0;
    height: 100%;
}

.carousel-inner>.next, .carousel-inner>.prev {
    position:absolute;
    top:0;
    width:100%;
    height: 100%;
}

.carousel-inner>.next {
    left:100%;
    height: 100%;
}

.carousel-inner>.prev {
    left:-100%;
    height: 100%;
}

.carousel-inner>.next.left, .carousel-inner>.prev.right {
    left:0;
    height: 100%;
}

.carousel-inner>.active.left {
    left:-100%;
    height: 100%;
}

.carousel-inner>.active.right {
    left:100%;
    height: 100%;
}

/* ---------- History page style Starts ---------- */
.story {
    position: relative;  
    width: 100vw;
    height: 74vw; 
    padding: 0; 
    margin: 0; 
    margin: 0 auto; 
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.4); 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    overflow: hidden;
}

#first {  
    background: url("../images/history/history_bcg0.png") no-repeat fixed; 
    background-size: 100%;
}

#second_1 {  
    background: url("../images/history/history_bcg1.png") no-repeat fixed; 
    background-size: 100%;
}

#second_2 {  
    background: url("../images/history/history_bcg1.png") no-repeat fixed; 
    background-size: 100%;
}

#second_3 {  
    background: url("../images/history/history_bcg1.png") no-repeat fixed; 
    background-size: 100%;
}

#third {
    background: url("../images/history/history_bcg2.png") no-repeat fixed; 
    background-size: 100%;
}

#fourth {
    background: url("../images/history/history_bcg3.png") no-repeat fixed; 
    background-size: 100%;
}

#five {
    background: url("../images/history/history_bcg4.png") no-repeat fixed; 
    background-size: 100%;
}

#sixth {
    background: url("../images/history/history_bcg5.png")no-repeat fixed;
    background-size: 100%;
}

#seventh {
    background: url("../images/history/history_bcg6.png")no-repeat fixed;
    background-size: 100%;
}

.downArrow {
    position:absolute; 
    width: 100%;
    text-align: center;
    bottom:10vh; 
    color:#FFF; 
    font-size:42px;
}

#first .smashinglogo { 
    background: url("../images/tutorial-title.png") 50% 100px no-repeat fixed; 
    min-height: 1000px; 
    padding: 0; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
}

.first_title img{
    margin-top: 10vh;
    width: 100%;
}

#first h2 {
    top: 35%;
    position: absolute;
    font-size: 5em;
    width: 100%;
    text-align: center;
    color: #fff;
}
.downArrow {
    position:absolute; 
    left:50%; 
    margin-left: -20px;
    bottom: 200px;
    width: 40px;
    text-align: center;
    color:#FFF; 
    font-size:42px;
}

#first article { 
    width: 100%; 
    top: 50%; 
    position: absolute; 
    text-align: center; 
}

#first article p,
#first article a { 
    color: #ccc; 
}

#first article a { 
    text-decoration: underline; 
}

#first article a:hover { 
    color: #fff; 
}

#second_1 { 
    padding: 50px 0;
}

.second_title {
    text-align: center;
    margin-top: 10vh;
}

#second_1 article { 
    width: 35vw; 
    margin-left: 10vw;
    margin-top: 15vh;
    padding: 3%; 
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5em; 
    box-shadow: 0 0 25px rgba(0,0,0,0.3); 
    border: 1px solid rgba(150,150,150,0.1); 
    background: rgba(0,0,0,0.6);
}

#second_1 article h2 {
    text-align: center;
}

.second_1_img {
    position: absolute;
    top: 35vh;
    right: 8vw;
    border-radius: 17.5vw;
}

.second_1_img img {
    width: 35vw;
    border-radius: 17.5vw;
}

#second_2 article { 
    width: 35vw; 
    margin-left: 10vw;
    margin-top: 30vh;
    padding: 3%; 
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5em; 
    box-shadow: 0 0 25px rgba(0,0,0,0.3); 
    border: 1px solid rgba(150,150,150,0.1); 
    background: rgba(0,0,0,0.6);
}

#second_2 article h2 {
    text-align: center;
}

.second_2_img {
    position: absolute;
    top: 35vh;
    right: 8vw;
    border-radius: 17.5vw;
}

.second_2_img img {
    width: 35vw;
    height: 35vw;
    border-radius: 17.5vw;
}

#second_3 article{
    width: 35vw; 
    margin-left: 10vw;
    margin-top: 15vh;
    padding: 3%; 
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5em; 
    box-shadow: 0 0 25px rgba(0,0,0,0.3); 
    border: 1px solid rgba(150,150,150,0.1); 
    background: rgba(0,0,0,0.6);
}

#second_3 article h2 {
    text-align: center;
}

.second_3_img {
    position: absolute;
    top: 36vh;
    right: 8vw;
    border-radius: 1vw;
} 

.second_3_img img {
    width: 35vw;
    border-radius: 1vw;
}

#third article {  
    position: absolute; 
    top: 200px;
    left: 200px;
    color: #fff; 
    padding: 20px; 
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2); 
}

#third article h2 {
    margin-left: -2vw;
    margin-top: 6vh;
}
#third article h2 img {
    width: 80%;
}

#third article p {
    width: 38vw;
    margin-top: 5vh;
    font-size: 1.4em;
    font-weight: 100;
}

#third .photograph { 
    background: url("../images/history/photo.png") transparent 40% 100px no-repeat fixed; 
    min-height: 1000px; 
    padding: 0; 
    margin: 0; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    margin: 0 auto; 
}

.fourth_title {
    margin-top: 10vh;
    margin-left: 6vw;
    width: 35%;
}

.fourth_title img {
    width: 100%;
}

.fourth_img {
    width: 50%;
    margin-top: 5vh;
    margin-left: 8vw;
}

.fourth_img img {
    width: 80%;
}

#fourth article {
    position: absolute;
    width: 22vw;
    top: 8vh;
    right: 8vw;
    color:#333; 
    padding: 2%;
    box-shadow: 0 0 25px rgba(0,0,0,0.3); 
    border: 1px solid rgba(150,150,150,0.1); 
    text-shadow: 0 -1px 0 rgba(34,114,124,0.5); 
    line-height: 1.5em; 
    color: #fff;
}

#fourth video {
    position: fixed; 
    left: 50%; 
    box-shadow: 0 0 25px rgba(0,0,0,0.7); 
    z-index: 1;
}

#five {
    background-position: 50%;
    width: 100%;
}

.five_title {
    margin-top: 10vh;
    margin-left: 6vw;
    width: 35%;
}

.five_title img {
    width: 100%
}

#five article {
    position: absolute;
    width: 30vw;
    top: 30vh;
    left: 10vw;
    color:#333; 
    padding: 2%;
    box-shadow: 0 0 25px rgba(0,0,0,0.3); 
    border: 1px solid rgba(150,150,150,0.1); 
    text-shadow: 0 -1px 0 rgba(34,114,124,0.5); 
    line-height: 1.5em; 
    color: #fff;
}

#five .photograph { 
    background: url("../images/photo1.png") transparent 40% 100px no-repeat fixed; 
    min-height: 1000px; 
    padding: 0; 
    margin: 0; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    margin: 0 auto; 
}

.five_img {
    position: absolute;
    width: 40vw;
    top: 30vh;
    right: 8vw;
}

.five_img img {
    width: 100%;
}

#sixth {
    background-position: 50%;
    width: 100%;
}
.sixth_title {
    width: 25%;
    margin-top: 10vh;
    margin-left: 10vw;
}

.sixth_title img {
    width: 100%
}

#sixth article {
    position: absolute;
    width: 30vw;
    top: 20vh;
    right: 6vw;
    color:#333; 
    padding: 2%;
    box-shadow: 0 0 25px rgba(0,0,0,0.3); 
    border: 1px solid rgba(150,150,150,0.1); 
    text-shadow: 0 -1px 0 rgba(34,114,124,0.5); 
    line-height: 1.5em; 
    color: #fff;
}
.sixth_img {
    position: absolute;
    width: 45vw;
    top: 58vh;
    left: 8vw;
}

.sixth_img img {
    width: 100%;
}

.seventh_title {
    position: absolute;
    width: 100vw;
    top: 5vh;
    text-align: center;
}

.seventh_title img {
    width: 30%;
}
.seventh_img {
}

.seventh_img img {
    position: absolute;
    width: 90vw;
    top: 20vh;
    left: 5vw;
}

/* ---------- Responsive Style ---------- */
@media screen and (max-width: 999px){
        ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

        ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5); 
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background: rgba(0,0,0,0.9);
        z-index: 1;
    }
    
    .ham_menu{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 5px;
        left: 5px;
        background: url(../images/ham_menu.png);
        background-size: 100%;
        cursor: pointer;
    }
    
    .c-hamburger {
        display: none;
    }

    .menu_panel {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 50px;
        left: 0;
        background: rgba(0,0,0, 0.9);
        display: none;
        z-index: 3;
    }
    
    .menu_panel nav ul {
        font-size: 2em;
        text-align: left;
        margin: 0;
        margin-top: 10px;
        border-top: solid 1px #999;
    }
    
    .menu_panel nav li {
        padding: 10px 10px 10px 10px;
        border-bottom: solid 1px #999;
    }
    
    .menu_panel a {
        color: #fff;
        text-decoration: none;
    }
    
    footer {
        position: absolute;
        width: 100%;
        float: left;
        bottom: 60px;
        background: rgba(0,0,0,0.6);
        border-top:solid 10px rgba(100, 0, 0, 0.6);
    }
    
    .footer-bottom {
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }

    .social-menu {
        margin: auto;
        width: 100%;
        text-align: center;
    }

    .social-menu ul {
        width: 210px;
        text-align: center;
        margin: 0;
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .social-menu ul li {
        float:left;
    }
    
    .social-menu ul li a {
        display:block;
        width: 30px;
        height: 30px;
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .social-menu ul li a.fb {
        background: url("../images/social_fb.png") no-repeat;
        background-size: 100%;
        background-position:0px 0px;
    }
    .social-menu ul li a.tw {
        background: url("../images/social_tw.png") no-repeat;
        background-size: 100%;
        background-position:0px 0px;
    }
    .social-menu ul li a.oo {
        background: url("../images/social_oo.png") no-repeat;
        background-size: 100%;
        background-position:0px 0px;
    }
    .social-menu ul li a.vm {
        background: url("../images/social_vm.png") no-repeat;
        background-size: 100%;
        background-position:0px 0px;
    }
    .social-menu ul li a.gp {
        background: url("../images/social_gp.png") no-repeat;
        background-size: 100%;
        background-position:0px 0px;
    }
    .social-menu ul li a.cs {
        background: url("../images/social_cs.png") no-repeat;
        background-size: 100%;
        background-position:0px 0px;
    }

    .social-menu ul li a.fb:hover,
    .social-menu ul li a.tw:hover,
    .social-menu ul li a.oo:hover,
    .social-menu ul li a.vm:hover,
    .social-menu ul li a.gp:hover,
    .social-menu ul li a.cs:hover {
        background-position:0px -30pxvw;
        -webkit-transition: background-position 0.4s linear;
        -moz-transition: background-position 0.4s linear;
        -ms-transition: background-position 0.4s linear;
        -o-transition: background-position 0.4s linear;
        transition: background-position 0.4s linear;
    }
    .footer-bottom .copyright {
        width: 100%;
        margin: auto;
        float: left;
        text-align: center;
    }

    .footer-bottom .copyright p {
        font-size:16px;
        color:#989898;
    }

    .footer-bottom .copyright p span {
        font-family: 'TitilliumMaps26L-999wt';
        color:#ffffff;
        background:#00a1e8;
        padding:0 5px;
        display:inline-block;
    }
    
    /* ---------- History page style Starts ---------- */
    .story {
        position: relative;  
        width: 100vw;
        height: auto;
        padding: 0; 
        margin: 0; 
        position: relative; 
        margin: 0 auto; 
        border-top: 1px solid rgba(255,255,255,0.3); 
        border-bottom: 1px solid rgba(0,0,0,0.4); 
        box-shadow: 0 0 50px rgba(0,0,0,0.8);
        overflow: hidden;
    }
    
    #first_mobile {
        height: 100vh;
        background: url("../images/history/history_bcg0.png") no-repeat; 
    }
    
    .downArrow {
        position:absolute; 
        width: 100vw;
        left: 4vw;
        text-align: center;
        bottom: 12vh; 
        color:#FFF; 
        font-size:42px;
    }

    #first_mobile .smashinglogo { 
        position: absolute;
        background: url("../images/tutorial-title.png") no-repeat; 
        background-size: 100%;
        width: 150vw; 
        height: 30vw;
        left: -25vw;
        top: 30vh;
    }

    #second_mobile1 {
        background: url("../images/history/history_bcg1.png") no-repeat; 
    }
    
    #second_mobile1 h2 {
        width: 100vw;
        text-align: center;
    }
    
    #second_mobile1 h2 img {
        width: 80%;
    }
    
    .second_mobile1_img {
        position: relative;
        width: 82vw;
        left: 5vw;
        margin: 0;
        margin-bottom: 10vh;
        color: #fff;
        border-radius: 0;
        text-align: left;
        color: #fff;
        line-height: 1.5em; 
        padding: 3vw;
        box-shadow: 0 0 25px rgba(0,0,0,0.3); 
        border: 1px solid rgba(150,150,150,0.1); 
        background: rgba(0,0,0,0.6);
    }
    
    .second_mobile1_img img {
        width: 50%;
        float: left;
        margin-right: 15px;
    }
    
    #second_mobile2 {
        background: url("../images/history/history_bcg1.png") no-repeat; 
    }
    
    #second_mobile2 h2 {
        width: 100vw;
        text-align: center;
    }
    
    #second_mobile2 h2 img {
        width: 80%;
    }
    
    .second_mobile2_img {
        position: relative;
        width: 82vw;
        left: 5vw;
        margin: 0;
        margin-bottom: 10vh;
        color: #fff;
        border-radius: 0;
        text-align: left;
        line-height: 1.5em; 
        padding: 3vw;
        box-shadow: 0 0 25px rgba(0,0,0,0.3); 
        border: 1px solid rgba(150,150,150,0.1); 
        background: rgba(0,0,0,0.6);
    }
    
    .second_mobile2_img img {
        width: 50%;
        float: left;
        margin-right: 15px;
    }
    
    #second_mobile3 {
        background: url("../images/history/history_bcg1.png") no-repeat; 
    }
    
    #second_mobile3 h2 {
        width: 100vw;
        text-align: center;
    }
    
    #second_mobile3 h2 img {
        width: 80%;
    }
    
    .second_mobile3_img {
        position: relative;
        width: 82vw;
        left: 5vw;
        margin: 0;
        margin-bottom: 10vh;
        color: #fff;
        border-radius: 0;
        text-align: left;
        line-height: 1.5em; 
        padding: 3vw;
        box-shadow: 0 0 25px rgba(0,0,0,0.3); 
        border: 1px solid rgba(150,150,150,0.1); 
        background: rgba(0,0,0,0.6);
    }
    
    .second_mobile3_img img {
        width: 50%;
        float: left;
        margin-right: 15px;
    }
    
    #third_mobile {
        background: url("../images/history/history_bcg2.png") no-repeat; 
    }
    
    #third_mobile h2 {
        text-align: center;
        width: 100vw;
    }
    
    #third_mobile h2 img {
        width: 80%;
    }
    
    #third_mobile article p{
        width: 90%;
        padding: 5%;
        color: #fff;
        line-height: 1.5em;
        position: relative;
        width: 82vw;
        left: 5vw;
        margin: 0;
        margin-bottom: 10vh;
    }
    
    #fourth_mobile {
        background: url("../images/history/history_bcg3.png") no-repeat; 
    }
    
    #fourth_mobile h2 {
        width: 100vw;
        text-align: center;
    }
    
    #fourth_mobile h2 img {
        width: 80%;
    }
    
    .fourth_mobile_img {
        position: relative;
        width: 82vw;
        left: 5vw;
        margin: 0;
        margin-bottom: 10vh;
        color: #fff;
        border-radius: 0;
        text-align: left;
        line-height: 1.5em; 
        padding: 3vw;
        box-shadow: 0 0 25px rgba(0,0,0,0.3); 
        border: 1px solid rgba(150,150,150,0.1); 
        background: rgba(0,0,0,0.6);
    }
    
    .fourth_mobile_img img {
        width: 50%;
        float: left;
        margin-right: 15px;
    }
    
    #fiveth_mobile {
        background: url("../images/history/history_bcg4.png") no-repeat; 
    }
    
    #fiveth_mobile h2 {
        width: 100vw;
        text-align: center;
    }
    
    #fiveth_mobile h2 img {
        width: 80%;
    }
    
    .fiveth_mobile_img {
        position: relative;
        width: 82vw;
        left: 5vw;
        margin: 0;
        margin-bottom: 10vh;
        color: #fff;
        border-radius: 0;
        text-align: left;
        line-height: 1.5em; 
        padding: 3vw;
        box-shadow: 0 0 25px rgba(0,0,0,0.3); 
        border: 1px solid rgba(150,150,150,0.1); 
        background: rgba(0,0,0,0.6);
    }
    
    .fiveth_mobile_img img {
        width: 50%;
        float: left;
        margin-right: 15px;
    }
    
    #sixth_mobile {
        background: url("../images/history/history_bcg5.png") no-repeat; 
    }
    
    #sixth_mobile h2 {
        width: 100vw;
        text-align: center;
    }
    
    #sixth_mobile h2 img {
        width: 80%;
    }
    
    .sixth_mobile_img {
        position: relative;
        width: 82vw;
        left: 5vw;
        margin: 0;
        margin-bottom: 5vh;
        color: #fff;
        border-radius: 0;
        text-align: left;
        line-height: 1.5em;
        padding: 3vw;
        box-shadow: 0 0 25px rgba(0,0,0,0.3); 
        border: 1px solid rgba(150,150,150,0.1); 
        background: rgba(0,0,0,0.6);
    }
    
    .sixth_mobile_img img {
        width: 50%;
        float: left;
        margin-right: 15px;
    }
    
    #seventh_mobile1 {
        background: url("../images/history/history_bcg6.png") no-repeat; 
    }
    
    #seventh_mobile1 h2 {
        width: 100vw;
        text-align: center;
    }
    
    #seventh_mobile1 h2 img {
        width: 80%;
    }
    
    .seventh_mobile1_img {
        position: relative;
        width: 82vw;
        left: 5vw;
        margin: 0;
        margin-bottom: 5vh;
        color: #fff;
        border-radius: 0;
        text-align: left;
        line-height: 1.5em;
        padding: 3vw;
        box-shadow: 0 0 25px rgba(0,0,0,0.3); 
        border: 1px solid rgba(150,150,150,0.1); 
        background: rgba(0,0,0,0.6);
    }
    
    .seventh_mobile1_img img {
        width: 50%;
        float: left;
        margin-right: 15px;
    }
    
    #seventh_mobile2 {
        background: url("../images/history/history_bcg6.png") no-repeat; 
    }
    
    #seventh_mobile2 h2 {
        width: 100vw;
        text-align: center;
    }
    
    #seventh_mobile2 h2 img {
        width: 80%;
    }
    
    .seventh_mobile2_img {
        position: relative;
        width: 82vw;
        left: 5vw;
        margin: 0;
        margin-bottom: 5vh;
        color: #fff;
        border-radius: 0;
        text-align: left;
        line-height: 1.5em;
        padding: 3vw;
        box-shadow: 0 0 25px rgba(0,0,0,0.3); 
        border: 1px solid rgba(150,150,150,0.1); 
        background: rgba(0,0,0,0.6);
    }
    
    .seventh_mobile2_img img {
        width: 50%;
        float: left;
        margin-right: 15px;
    }
    
    #seventh_mobile3 {
        background: url("../images/history/history_bcg6.png") no-repeat; 
    }
    
    #seventh_mobile3 h2 {
        width: 100vw;
        text-align: center;
    }
    
    #seventh_mobile3 h2 img {
        width: 80%;
    }
    
    .seventh_mobile3_img {
        position: relative;
        width: 82vw;
        left: 5vw;
        margin: 0;
        margin-bottom: 5vh;
        color: #fff;
        border-radius: 0;
        text-align: left;
        line-height: 1.5em;
        padding: 3vw;
        box-shadow: 0 0 25px rgba(0,0,0,0.3); 
        border: 1px solid rgba(150,150,150,0.1); 
        background: rgba(0,0,0,0.6);
    }
    
    .seventh_mobile3_img img {
        width: 50%;
        float: left;
        margin-right: 15px;
    }
    
    #seventh_mobile4 {
        height: 170vh;
        background: url("../images/history/history_bcg6.png") no-repeat; 
    }
    
    #seventh_mobile4 h2 {
        width: 100vw;
        text-align: center;
    }
    
    #seventh_mobile4 h2 img {
        width: 80%;
    }
    
    .seventh_mobile4_img {
        position: relative;
        width: 82vw;
        left: 5vw;
        margin: 0;
        margin-bottom: 5vh;
        color: #fff;
        border-radius: 0;
        text-align: left;
        line-height: 1.5em;
        padding: 3vw;
        box-shadow: 0 0 25px rgba(0,0,0,0.3); 
        border: 1px solid rgba(150,150,150,0.1); 
        background: rgba(0,0,0,0.6);
    }
    
    .seventh_mobile4_img img {
        width: 50%;
        float: left;
        margin-right: 15px;
    }
    /* ---------- Back to Top Btn ---------- */
    .back_top-container {
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 12vh;
        padding: 0;
        text-align: center;
        z-index: 100;
        cursor: pointer;
    }

    .back_top h2 {
        position: relative;
        color: #dedede;
    }

    .back_top img {
        position: relative;
        top: 0;
    }
}


@media screen and (min-width: 1000px){
    header {
        display: none;
    }
    .menu_panel {
        display: none;
    }
    
    .menu_panel a {
        color: #fff;
        text-decoration: none;
        display: none;
    }
    
    .footer-bottom {
        margin-top: 5px;
        margin-bottom: 5px;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .social-menu {
        margin: auto;
        width: 100%;
        text-align: center;
    }

    .social-menu ul {
        width: 20vw;
        text-align: center;
        margin: 0;
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .social-menu ul li {
        float:left;
    }
    .social-menu ul li a {
        display:block;
        width: 2.5vw;
        height: 2.5vw;
        margin-left: 2px;
        margin-right: 2px;
    }
    .social-menu ul li a.fb {
        background: url("../images/social_fb.png") no-repeat;
        background-size: 100%;
        background-position:0px 0px;
    }
    .social-menu ul li a.tw {
        background: url("../images/social_tw.png") no-repeat;
        background-size: 100%;
        background-position:0px 0px;
    }
    .social-menu ul li a.oo {
        background: url("../images/social_oo.png") no-repeat;
        background-size: 100%;
        background-position:0px 0px;
    }
    .social-menu ul li a.vm {
        background: url("../images/social_vm.png") no-repeat;
        background-size: 100%;
        background-position:0px 0px;
    }
    .social-menu ul li a.gp {
        background: url("../images/social_gp.png") no-repeat;
        background-size: 100%;
        background-position:0px 0px;
    }
    .social-menu ul li a.cs {
        background: url("../images/social_cs.png") no-repeat;
        background-size: 100%;
        background-position:0px 0px;
    }

    .social-menu ul li a.fb:hover,
    .social-menu ul li a.tw:hover,
    .social-menu ul li a.oo:hover,
    .social-menu ul li a.vm:hover,
    .social-menu ul li a.gp:hover,
    .social-menu ul li a.cs:hover {
        background-position:0px -2.5vw;
        -webkit-transition: background-position 0.4s linear;
        -moz-transition: background-position 0.4s linear;
        -ms-transition: background-position 0.4s linear;
        -o-transition: background-position 0.4s linear;
        transition: background-position 0.4s linear;
    }
    .footer-bottom .copyright {
        margin: auto;
        float: left;
        width: 100%;
    }

    .footer-bottom .copyright p {
        font-size:16px;
        color:#989898;
    }

    .footer-bottom .copyright p span {
        font-family: 'TitilliumMaps26L-999wt';
        color:#ffffff;
        background:#00a1e8;
        padding:0 5px;
        display:inline-block;
    }
    
    /* ---------- Back to Top Btn ---------- */
    .back_top-container {
        position: absolute;
        right: 5vw;
        height: auto;
        bottom: 5vh;
        padding: 0;
        text-align: center;
        z-index: 100;
        cursor: pointer;
    }

    .back_top h2 {
        position: relative;
        color: #dedede;
    }

    .back_top img {
        position: relative;
        top: 0;
    }

    .back_top img:hover{
        position: relative;
        width: 80px;
        height: 80px;
        transition: all 0.5s;
        top: 0;
    }
}

@media screen and (max-width: 999px) {
    .piano_history_pc {
        display: none;
    }
    
    .piano_history_mobile {
        display: block;
    }
}
@media screen and (min-width: 1000px) {
    .piano_history_pc {
        display: block;
    }
    .piano_history_mobile {
        display: none;
    }
}